<div class="loader-container" id="loader"><img src="/img/Staff_Images/interactionLogo.Webp" alt="">
</div>
<script>
	const loader = document.getElementById("loader")
	window.addEventListener("load", function () {
		loader.style.display = "none"
	})
</script>
