<div class="loader-container" id="loader"><img src="/img/Staff_Images/interactionLogo.png" alt="">
</div>
<script>
	var loader = document.getElementById("loader")
	window.addEventListener("load", function () {
		loader.style.display = "none"
	})
</script>