/* participants.css */

body {
    height: 100vh;
    width: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

form {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.logout {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.container {
    
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

table {
    height: 100vh;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}
/* Add these styles to /css/admin/user.css */

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}


@media (max-width: 768px) {
    table {
        font-size: 14px;
        display: block; /* Display as block for vertical stacking */
        white-space: nowrap; /* Prevent line break */
        overflow-x: auto; /* Enable horizontal scrolling */
    }

    th, td {
        display: inline-block;
        width: auto;
    }

    .container {
        margin: 10px;
        padding: 10px;
    }
    .download-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
    }
}